//go:build wireinject

package main

import (
	"{{.FrameworkModule}}/framework/contract"
	"{{.ModuleName}}/services/product/internal/service"

	"github.com/google/wire"
	"gorm.io/gorm"
)

func wireProductServices(db *gorm.DB, publisher contract.MessagePublisher, subscriber contract.MessageSubscriber) (*service.Services, error) {
	panic(wire.Build(
		service.NewServices,
	))
}
