package http

import (
	"github.com/gin-gonic/gin"
	"{{.ModuleName}}/services/user/internal/server/http/handler"
	"{{.ModuleName}}/services/user/internal/service"
)

func RegisterRoutes(r *gin.RouterGroup, services *service.Services) {
	userHandler := handler.NewUserHandler(services.User)

	api := r.Group("/api/v1/users")
	{
		api.GET("", userHandler.List)
		api.GET("/:id", userHandler.GetByID)
		api.POST("", userHandler.Create)
		api.DELETE("/:id", userHandler.Delete)
	}
}