package main

import (
	"fmt"
	"os"

	apphttp "{{.Module}}/app/http"
	"{{.FrameworkModule}}"
)

func main() {
	if err := gorp.Run("{{.Name}}", gorp.HTTP(), gorp.WithSetup(setup)); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}

func setup(rt *gorp.HTTPRuntime) error {
	apphttp.RegisterRoutes(rt.Router)
	return nil
}
