package main

import (
	"fmt"
	"os"

	apphttp "{{.ModuleName}}/app/http"
	"{{.FrameworkModule}}"
)

func main() {
	if err := gorp.Run(
{{- if .IsMicroGovernance }}
		gorp.WithMicroGovernance(),
{{- else }}
		gorp.WithMonoGovernance(),
{{- end }}
{{- if .IsGinHTTPMode }}
		gorp.WithGinHTTPMode(),
{{- end }}
		gorp.WithSetup(setup)); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}

func setup(rt *gorp.HTTPRuntime) error {
	apphttp.RegisterRoutes(rt.Router)
	return nil
}
