package http

import (
	"{{.ModuleName}}/services/order/internal/server/http/handler"
	"{{.ModuleName}}/services/order/internal/service"

	gorp "{{.FrameworkModule}}"
)

func RegisterRoutes(r gorp.HTTPRouter, services *service.Services) {
	orderHandler := handler.NewOrderHandler(services.Order)

	api := r.Group("/api/v1/orders")
	{
	api.GET("", orderHandler.List)
	api.GET("/:id", orderHandler.GetByID)
	api.POST("", orderHandler.Create)
	api.DELETE("/:id", orderHandler.Delete)
	}
}
