package db

import (
	"fmt"

	"{{.ModuleName}}/shared/config"
	"gorm.io/driver/sqlite"
	"gorm.io/gorm"
)

// GetDB 获取数据库连接
func GetDB(cfg *config.Config) (*gorm.DB, error) {
	db, err := gorm.Open(sqlite.Open(cfg.DB.DBName+".db"), &gorm.Config{})
	if err != nil {
		return nil, fmt.Errorf("open database: %w", err)
	}
	return db, nil
}