module {{.ModuleName}}/services/user

go 1.25

require (
	{{.FrameworkModule}} {{.FrameworkVersion}}
	github.com/gin-gonic/gin v1.9.1
	github.com/google/wire v0.6.0
	github.com/stretchr/testify v1.9.0
	gorm.io/gorm v1.25.5
)
{{if .UseReplace}}
replace {{.FrameworkModule}} => {{.FrameworkPath}}
{{end}}
