apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{.Name}}-staging

resources:
  - ../../base

images:
  - name: your-registry/user-service
    newName: your-registry/user-service
    newTag: staging
  - name: your-registry/order-service
    newName: your-registry/order-service
    newTag: staging
  - name: your-registry/product-service
    newName: your-registry/product-service
    newTag: staging

patches:
  - path: deployment-patch.yaml
