//go:build wireinject

package main

import (
	"{{.FrameworkModule}}/framework/contract"
	"{{.ModuleName}}/services/order/internal/service"

	"github.com/google/wire"
	"gorm.io/gorm"
)

func wireOrderServices(db *gorm.DB, userConnFactory contract.GRPCConnFactory, dlock contract.DistributedLock) (*service.Services, error) {
	panic(wire.Build(
		service.NewServices,
	))
}
