module {{.ModuleName}}/services/product

go 1.25

require (
	{{.ModuleName}}/shared v0.0.0
	{{.FrameworkModule}} v0.0.0
)

replace (
	{{.ModuleName}}/shared => ../../shared
	{{.FrameworkModule}} => {{.FrameworkPath}}
)