package main

import (
	"fmt"
	"os"

	userservice "{{.ModuleName}}/services/user"
)

// main 是 user 服务的主入口。
func main() {
	if err := userservice.Start(); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}
