package http

import (
	"github.com/gin-gonic/gin"
	"{{.ModuleName}}/services/order/internal/server/http/handler"
)

func RegisterRoutes(r *gin.RouterGroup, handlers *handler.Handlers) {
	api := r.Group("/api/v1/orders")
	{
		api.GET("", handlers.Order.List)
		api.GET("/:id", handlers.Order.GetByID)
		api.POST("", handlers.Order.Create)
		api.DELETE("/:id", handlers.Order.Delete)
		api.GET("/:id/user", handlers.Order.GetOrderUser)
		api.POST("/:id/lock-demo", handlers.Order.LockOrderDemo)
	}
}