apiVersion: v1
kind: Secret
metadata:
  name: multi-flat-wire-secret
type: Opaque
stringData:
  DB_DSN: "replace-me"
  REDIS_ADDR: "replace-me"
  JWT_SECRET: "replace-me"
  SERVICE_AUTH_KEY: "replace-me"
