apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{.KubernetesNamespaceDev}}

resources:
  - ../../base

images:
  - name: your-registry/{{.KubernetesName}}-user-service
    newName: {{.KubernetesName}}-user-service
    newTag: dev
  - name: your-registry/{{.KubernetesName}}-order-service
    newName: {{.KubernetesName}}-order-service
    newTag: dev
  - name: your-registry/{{.KubernetesName}}-product-service
    newName: {{.KubernetesName}}-product-service
    newTag: dev

patches:
  - path: deployment-patch.yaml
