go 1.26

use (
	./services/affiliate
	./services/content
	./services/directory
	./services/discount
	./services/gdpr
	./services/localization
	./services/logging
	./services/media
	./services/message
	./services/order
	./services/payment
	./services/plugin
	./services/product
	./services/security
	./services/seo
	./services/shipping
	./services/store
	./services/tax
	./services/user
	./services/vendorsvc
	./shared
)
