//go:build wireinject

package main

import (
	"{{.ModuleName}}/internal/biz"
	"{{.ModuleName}}/internal/data"
	"{{.ModuleName}}/internal/service"

	"github.com/google/wire"
	"gorm.io/gorm"
)

func wireServices(db *gorm.DB) (*service.Services, error) {
	panic(wire.Build(
		data.NewData,
		data.NewDemoRepo,
		biz.NewBiz,
		service.NewServices,
	))
}
