app:
  name: "{{.Name}}"
  env: "development"

http:
  addr: ":8888"

swagger:
  enable: true
  basic_auth:
    enable: false
    username: ""
    password: ""

governance:
  disable: []
  providers: {}
  # 示例：
  # disable:
  #   - tracing
  # providers:
  #   serviceauth: mtls
