package grpc

import (
	userv1 "{{.ModuleName}}/proto/user/v1"
	"{{.ModuleName}}/services/user/internal/service"
	"google.golang.org/grpc"
)

func RegisterUserService(server *grpc.Server, services *service.Services) {
	userv1.RegisterUserServiceServer(server, services.User)
}
