apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{.Name}}-prod

resources:
  - ../../base
  - hpa.yaml
  - ingress.yaml

images:
  - name: your-registry/user-service
    newName: your-registry/user-service
    newTag: v1.0.0
  - name: your-registry/order-service
    newName: your-registry/order-service
    newTag: v1.0.0
  - name: your-registry/product-service
    newName: your-registry/product-service
    newTag: v1.0.0

patches:
  - path: deployment-patch.yaml
