package http

import (
	"github.com/gin-gonic/gin"
	"{{.ModuleName}}/services/product/internal/server/http/handler"
)

func RegisterRoutes(r *gin.RouterGroup, handlers *handler.Handlers) {
	api := r.Group("/api/v1/products")
	{
		api.GET("", handlers.Product.List)
		api.GET("/:id", handlers.Product.GetByID)
		api.POST("", handlers.Product.Create)
		api.DELETE("/:id", handlers.Product.Delete)
		api.POST("/:id/events/publish", handlers.Product.PublishStockChanged)
		api.POST("/events/consume-once", handlers.Product.ConsumeStockChangedOnce)
	}
}