package main

import (
	"fmt"
	"os"

	"{{.FrameworkModule}}/cmd/gorp/cmd"
)

// main 是 starter 项目的默认入口。
func main() {
	if err := cmd.Execute(); err != nil {
		fmt.Fprintln(os.Stderr, err)
		os.Exit(1)
	}
}
