# 开发环境 Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{.KubernetesNamespaceDev}}

resources:
  - ../../base

images:
  - name: your-registry/{{.KubernetesName}}
    newName: {{.KubernetesName}}
    newTag: dev

configMapGenerator:
  - name: {{.KubernetesConfigMapName}}
    behavior: merge
    literals:
      - APP_ENV=dev
      - LOG_LEVEL=debug
      - LOG_FORMAT=console

patches:
  - path: deployment-patch.yaml
